ErrorDocument 404 /Tag/views/errors/404.php

RewriteEngine On

RewriteRule ^docs/$ views/documentation.php [NC]
RewriteRule ^docs/([0-9a-zA-z_-]+)$ views/documentation.php?article=$1 [NC,L]

RewriteRule ^/ index.php [NC,L]
